<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Log Out</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 text-center>Are sure you want to logout?</h5>
  <button ion-button full (click)="logout()">Log Out</button>
</ion-content>
