<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chat</ion-title>
  </ion-navbar>
  <ion-item>
    <input type="text" placeholder="Write a message" id="msg-input" [(ngModel)]="msg" (keypress)="keyPressHandler($event.keyCode)">
    <button ion-button icon-only item-end icon-left (click)="sendMessage()" [disabled]="msg==null || msg.toString().trim()==''">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>

</ion-header>

<ion-content padding>
  <div *ngFor="let chat of chats" no-margin class="msg" [class.mine]="chat?.fromMe">
    <strong no-margin>{{chat?.from}}:</strong>
    <p> {{chat?.text}} </p>
  </div>
  <p *ngIf="nothingToShow" text-center>No messages yet!</p>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="isInfiniteScrollEnabled">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>