page-chat {
    #msg-input{
        width: 100%;
    }
    .msg{
        padding: 5px 10px 10px 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
        background: #dcdcdc !important;
        color: #000 !important;
        margin-left: 20px !important;
        p{
            margin: 0;
            font-size: 14px;
        }
        strong{
            color: #afafaf;
            font-size: 12px;
        }
        &.mine{
            margin-right: 20px !important;
            margin-left: 0 !important;
            background: #edeeee !important;
            strong{
                color: #163a64;
            }
        }
   
    }
}
