<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Select Login User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of users" (click)="login($event, item)">
      <ion-avatar item-start>
        <img [src]="item?.avatarURL" />
      </ion-avatar>
      {{item?.nickname}}
    </button>
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="isInfiniteScrollEnabled">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>